body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.parallax-container {
	height: 500px;
}

.slides{
	li{
		img{
			height: 400px!important;
			width: 200px!important;
			margin: 0 auto !important;
			display: block;
		}
	}
			
}
